spacy==3.3.1
transformers==4.20.0
numpy==1.21.5
Requests==2.27.1
pikepdf==5.1.5
pdf2image==1.16.0
pandas==1.4.3
tqdm==4.64.0
PyPDF2==2.2.1
layoutparser==0.3.4
prefect==2.0.3
preprocess
scikit_learn==1.0.2
dask==2022.6.1